<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>user</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let l of users">
    <ion-card-header>
      <ion-card-subtitle>{{ l.id }}</ion-card-subtitle>
      <ion-card-title>{{ l.username }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      e-mail : {{ l.email }}
    </ion-card-content>
  </ion-card>

</ion-content>
